
<table class="table table-striped custab" >
  <thead>
      <tr>
         <th style="width:15%; text-align:center;">Name</th>
         <th style="width:15%; text-align:center;">Scientific Name</th>
         <th style="text-align:center">Status</th>
         <th style="text-align:center">Diagnosis</th>

      </tr>
  </thead>
  <tbody>
{% for row in dataset %}  
   <tr>
    <td style="text-align:center">{{row.common_name}}</td>
    <td style="text-align:center">{{row.scientific_name}}</td>
    <td>{{row.caused_by}}</td>
    <td>{{row.treatment}}</td>
   </tr>
{% endfor %} 